<!DOCTYPE html>
<html lang="fr">
    <head>
        <!--######################################################################################
              _                _                                  _                     _
           __| | _____   _____| | ___  _ __  _ __ ___   ___ _ __ | |_    __ _  ___  ___| | _____
          / _` |/ _ \ \ / / _ \ |/ _ \| '_ \| '_ ` _ \ / _ \ '_ \| __|  / _` |/ _ \/ _ \ |/ / __|
         | (_| |  __/\ V /  __/ | (_) | |_) | | | | | |  __/ | | | |_  | (_| |  __/  __/   <\__ \
          \__,_|\___| \_/ \___|_|\___/| .__/|_| |_| |_|\___|_| |_|\__|  \__, |\___|\___|_|\_\___/
                                      |_|                               |___/
        #######################################################################################-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Irmajobs vous propose l'emploi qu'il vous faut dans le domaine informatique. Préparer vos tests techniques, conseil pour l'entretien d'embauche, recrutements, jobs, cv, profile, informatique, cvthéque">
        <meta name="author" content="irmajobs">
        <link href="{{ asset('bundles/superjobshome/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/inputosaurus.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/jquery-ui.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/Calendar.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/one-page-wonder.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/sticky-footer-navbar.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/feedback.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/signin.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/business-frontpage.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/superjobshome/css/MyOwnStyle.css')}}" rel="stylesheet">
        <title>Irmajobs - Offre d'emploi informatique et digital</title>
</head>
<body>
                     
    {% block header %}
        {% include 'SuperjobsHomeBundle:Main:header.html.twig' %}
    {% endblock header %}
    <br/><br/>
    <div class="container">
        {% block container %}  
        {% endblock %}     
    </div>
    {% block footer %}
        {% include 'SuperjobsHomeBundle:Main:footer.html.twig' %}
    {% endblock footer %}
    <br/>


    <script src="{{ asset('bundles/superjobshome/js/jquery.min.js')}}"></script>
    <script src="{{ asset('bundles/superjobshome/js/jquery-ui.min.js')}}"></script>
{#    <script src="{{ asset('bundles/superjobshome/js/ckeditor.js')}}"></script>#}
    <script src="//cdn.ckeditor.com/4.5.11/basic/ckeditor.js"></script>
    <script src="{{ asset('bundles/superjobshome/js/inputosaurus.js')}}"></script>
    
    <script src="{{ asset('bundles/superjobshome/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/superjobshome/js/jquery.countTo.js')}}"></script>
    <script src="{{ asset('bundles/superjobshome/js/feedback.js')}}"></script>
    <script src="{{ asset('bundles/superjobshome/js/MyOwnScript.js')}}"></script>
</body>
</html>