{% extends "SuperjobsHomeBundle::layout.html.twig" %}

{% block container %}
<style type="text/css">
    .timer {
        font-size: 48px;
        font-weight: 800;
        text-transform: uppercase;
        text-align:center;
        line-height:80px;
        color: #EE3733;
    }
  .example {
    position: relative;
    padding: 25px;
    margin: 25px 0;
    line-height: 1em;
    background-color: #eee;
  }
  .example h2 {
    margin-right: 100px;
  }

  .example p {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 20px;
  }

  .red {
    color: #c00;
  }
</style>
    <header class="intro-header">
    <div class="container">
        <div class="row">
            <center>
{#            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">#}
{#                <div class="site-heading">#}
        <div class="headline">
            <div class="container">
                <h2>ESPACE RECRUTEURS</h2>
                <span class="subheading">Chercher les ninjas de l'Informatique</span>
                <hr class="small">  
            </div>
        </div>
    {#                <h2>Superjobs</h2>
                    <span class="subheading">Postez votre offre d'emploi facilement et gratuitement</span>
                    <hr class="small">                    #}
{#                </div>#}
{#            </div>#}
            </center>
        </div>
    </div>
</header>
    <center>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><b class="timer" id="earth" data-to="268" data-speed="10000"></b><br/> PROFILES</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><b class="timer" id="earth" data-to="110" data-speed="10000"></b><br/> JOBS</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><b class="timer" id="earth" data-to="15" data-speed="10000"></b><br/> ENTREPRISES</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><b class="timer" id="earth" data-to="121" data-speed="10000"></b><br/> CVs</p>
            </div>
        </div>
    </div>
    </center>
   
    <!-- Page Content -->
    <div class="container">
        <hr class="featurette-divider">
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="{{ asset('bundles/superjobshome/img/offre-emploi.jpg')}}">
            <h2 class="featurette-heading">
                <span class="text-muted">
                    <a href="{{ path('superjobs_home_recruiter_add') }}">
                        Lancer une offre
                    </a>
                </span> Gratuitement !<br/>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="{{ asset('bundles/superjobshome/img/talents.jpg')}}" width="50%">
            
            <h2 class="featurette-heading">Chercher des talents<br/>
                <span class="text-muted">
{#                    <a href="{{ path('superjobs_home_resume_template') }}">#}
                        <a href="{{ path('superjobs_home_team_template') }}">                        
                        { CVthéque }
                    </a>                
                </span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="{{ asset('bundles/superjobshome/img/test-technique.jpg')}}">
            <h2 class="featurette-heading">
                <span class="text-muted">
                    Tests techniques
                </span>Gratuitement !<br/>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Irmasoft 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      // custom formatting example
      $('#earth').data('countToOptions', {
        formatter: function (value, options) {
          return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
        }
      });
      
      // start all the timers
      $('.timer').each(count);
      
      // restart a timer when a button is clicked
      $('.restart').click(function (event) {
        event.preventDefault();
        var target = $(this).data('target');
        count.call($(target));
      });
      
      function count(options) {
        var $this = $(this);
        options = $.extend({}, options || {}, $this.data('countToOptions') || {});
        $this.countTo(options);
      }
    });
  </script>

{% endblock %}