
<footer class="footer" style="padding-top:  50px;">
    <div class="container">          
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('superjobs_home_homepage') }}"><b>Home</b></a><br/>
                <a href="{{ path('superjobs_home_about') }}">A propos</a><br/>
                <a href="{{ path('superjobs_home_cgu') }}">CGU</a><br/>
                <a href="{{ path('superjobs_home_faq') }}">Aide / FAQ</a><br/>
                <a href="{{ path('superjobs_home_press') }}">Press </a><br/>     
                <a href="{{ path('superjobs_home_contact') }}">Contact</a><br/>
            </div>
            <div class="col-md-3">
                <b>Candidat</b><br/>
                Chercher un offre d'emploi<br/>
                Liste des entreprise qui recrutent<br/>
                Optimiser mes recherches<br/>
                Créer mon profil<br/>
                Je m'entraine<br/>
            </div>
            <div class="col-md-3">
                <b>Entreprise</b><br/>
                Lancer une offre<br/>
                Selectionner des profils<br/>
                Passer un test à un candidat<br/>
                Télétravail<br/>
            </div>
            <div class="col-md-3">
                Stay in touch<br/>
                <input type="text" class="" placeholder="Email ..."><input type="button" value="OK"><br/>
                Twitter - Facebook - Google+<br/>
                <a href="{{ path('superjobs_home_feedback') }}">Feedback</a>
            </div>
        </div>
        <hr>
        <center class='test'>
            Copyright © 2015 Tous droits réservés.<br/>Made with ♥ by <a href="http://www.irmajobs.com" target="blanc">irmajobs.com</a>
        </center>
    </div>
</footer>