{% extends "SuperjobsHomeBundle::layout.html.twig" %}
{% block container %}

<header class="intro-header">
    <div class="container">
            <center>
        <div class="headline">
            <div class="container">
                <div class="Heading">
                <h2>Superjobs</h2>
                <span class="subheading">Postez votre offre d'emploi facilement et gratuitement</span>
                <hr class="small">  
                </div>
            </div>
        </div>
            </center>
    </div>
</header>

<center><br/>
    <form class="form-search">
        <div class="input-append">
          Chercher votre offre : <input type="text" class="span6 search-query">
{#          <input class="form-control" id="inputDefault" type="text">#}
          <button type="submit" class="btn">Search</button>
        </div>
    </form>
</center>       
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }} Offres d'emploi
</div>
{# table body #}
{% for article in pagination %}
<div class="row">    
{#    <div {% if loop.index is odd %}class="color"{% endif %}>#}
        <div class="col-xs-2">
            <time class="calendar">
                <em>{{ article.createdAt|date('Y')}}</em>
                <strong>{{ article.createdAt|date('M')}}</strong>
                <span>{{ article.createdAt|date('d')}}</span>
            </time>
        </div>    
        <div class="col-xs-10">            
            <a href="{{ path('superjobs_home_recruiter_job_details', { 'tag': article.id }) }}">
                <h4>{{ article.title }}</h4>
            </a>
            <br/>
            Type : {{ article.type }} | Poste à : {{ article.location }} | Societé : {{ article.company }}            
        </div>
</div>
<hr style="margin:0px;">
{% endfor %}
{# display navigation #}
<center>
<div class="pagination">
    {{ knp_pagination_render(pagination, "", {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
</div>
</center>
<style>
.row:hover {
    background-color: #E1E1E8;
}
</style>
{% endblock %}