{% extends "SuperjobsHomeBundle::layout.html.twig" %}
{% block container %}

    <header class="intro-header">
        <div class="container">
            <center>
                <div class="headline">
                    <div class="container">
                        <div class="Heading">
                            <h2>Irmajobs</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </header>

    <center><br/>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default search-submit" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                Filtrer par : 

                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary">Salaire</button>

                <!-- Standard button -->
                <button type="button" class="btn btn-default">Compétences</button>

                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success">Lieu</button>

                <!-- Contextual button for informational alert messages -->
                <button type="button" class="btn btn-info">Métier</button>

                <!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning">Contrat</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger">Sociétés</button>

            </div><!-- /.col-lg-6 -->
        </div>
    </center>       
    <br/>
    {# total items count #}
    <div class="count">
        <strong>{{ pagination.getTotalItemCount }}</strong> Offres d'emploi
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% for article in pagination %}
                <div class="items">
                    <div class="row">
                        <div class="col-md-2">
                            <time class="calendar">
                                <em>{{ article.createdAt|date('Y')}}</em>
                                <strong>{{ article.createdAt|date('d')}} {{ article.createdAt|date('M')}}</strong>
                            </time>        
                        </div>

                        <div class="col-md-8 vertical" >
                            <a href="{{ path('superjobs_home_recruiter_job_details', { 'tag': article.id }) }}">
                                <h4>{{ article.title }}</h4>
                            </a>

                            <i class="fa fa-compress"></i> {{ article.type }}
                            <i class="fa fa-map-marker"></i> {{ article.location }}
                            <i class="fa fa-building"></i> {{ article.company }}   
                        </div>
                    </div>
                </div>
                <hr style="margin:0px;">
            {% endfor %}
        </div>
        <div class="col-xs-6 col-md-4">
            <img src="{{ asset('bundles/superjobshome/img/publicité.jpg')}}" width="100%">
        </div>
    </div>
    <center>
        <div class="pagination">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
        </div>
    </center>
{% endblock %}