{% extends "SuperjobsHomeBundle::layout.html.twig" %}
{% block container %}

    <header class="intro-header">
        <div class="container">
            <center>
                <div class="headline">
                    <div class="container">
                        <div class="Heading">
                            <h2>Irmajobs</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </header>
    <br/>

    {% include 'SuperjobsHomeBundle:SearchEngine:searchForm.html.twig'with({ 'pagination': pagination }) %}

    <br/>
    {# total items count #}
    <div class="count">
        <strong>{{ pagination.getTotalItemCount }}</strong> Offres d'emploi
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% for article in pagination %}
                <div class="items">
                    <div class="row">
                        <div class="col-md-2 ">
                            <div class="container-fluid cont">
                                <div class="row logoRow">
                                    <div class="col-md-13 logoCol flexbox">
                                        {% if article.logo == "NULL" %}
                                            <div style="font-size: 5em;">
                                                <i class="fa fa-building-o fa-3"></i>
                                            </div>
                                        {% else %} 
                                            <img class="img-responsive " src="{{ asset('/Users/' ~ article.iduser ~ '/' ~ article.logo) }}" width="100">
                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 " >
                            <a href="{{ path('jobs_show', { 'id': article.id }) }}">
                                <h4>{{ article.title }}</h4>
                            </a>
                            {% if article.location == '' %}
                                {% set location = 'Anywhere' %}
                            {% else %}
                                {% set location = article.location %}
                            {% endif %}
                            <i class="fa fa-map-marker"></i> {{ location }}<br/>
                            <i class="fa fa-building"></i> {{ article.company }}<br/>
                        </div>
                        <div class="col-md-2">
                            <br/>
                            {% if date(article.createdAt) > date('-10days') %}
                                <div class="newItem">New</div>
                                <div class="newItem-r"></div>
                                <br/>
                            {% endif %}
                            <div class="date">
                                {{ article.createdAt|date('d')}} 
                                {{ article.createdAt|date('M')}}
                                <em>{{ article.createdAt|date('Y')}}</em>
                            </div>
                            <span class="label label-primary">{{ article.type }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-6 col-md-4 ">
            <img src="{{ asset('bundles/superjobshome/img/Waiting_4_startup.jpg')}}" width="100%" >
        </div>
    </div>
    <center>
        <div class="pagination">
            {{ knp_pagination_render(pagination, "", {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
        </div>
    </center>
{% endblock %}