{% extends "SuperjobsHomeBundle::layout.html.twig" %}
{% block container %}
<link href="{{ asset('bundles/superjobshome/css/rotating-card.css')}}" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{#<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>#}
<div class="container">
    <div class="row">
        <h1 class="title">
            This is our awesome team
            <br>
            <small>Present your team in an interesting way</small>
        </h1>
        <div class="col-sm-10 col-sm-offset-1">
         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="{{ asset('bundles/superjobshome/img/applicants/rotating_card_thumb2.png')}}" >                             
                        </div>
                        <div class="user">
                            <img class="img-circle" src="{{ asset('bundles/superjobshome/img/applicants/hafedh.jpg')}}" > 
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Hafedh AMRI</h3>
                                <p class="profession">CEO</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> john@creative-tim.com</h5>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>In the project since 2011</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>                            
                                <center>
                                <a href="{{ path('superjobs_home_resume_template') }}" class="btn btn-primary">
                                    Profil complet
                                </a>
                                </center>
                            </div>                            
                        </div>  
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="{{ asset('bundles/superjobshome/img/applicants/rotating_card_thumb.png')}}" >                             
                        </div>
                        <div class="user">
                            <img class="img-circle" src="{{ asset('bundles/superjobshome/img/applicants/rotating_card_profile2.png')}}" >                             
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Andrew Mike</h3>
                                <p class="profession">Web Developer</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Bucharest, Romania</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> mike@creative-tim.com</h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> Manual Flip
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>Mike was working with our team since 2012.</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            <div class="social-links text-center">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="{{ asset('bundles/superjobshome/img/applicants/rotating_card_thumb3.png')}}" >                             
                        </div>
                        <div class="user">
                            <img class="img-circle" src="{{ asset('bundles/superjobshome/img/applicants/rotating_card_profile.png')}}" >                             
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Inna Corman</h3>
                                <p class="profession">Product Manager</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                                <h5><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                                <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> inna@creative-tim.com</h5>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>Inna was working with our team since 2012.</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col-sm-3 -->
        </div> <!-- end col-sm-10 --> 
    </div> <!-- end row -->
    <div class="space-200"></div>    
</div>



{#<script src="js/jquery-1.10.2.js" type="text/javascript"></script>#}
{#<script src="js/bootstrap.min.js" type="text/javascript"></script>#}
	
<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();
        
    });
    
    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>

{% endblock %}