<strong>{{ Jobs|length }}</strong> resultats trouvés<br/>

{% for article in Jobs %}
    <div class="items">
        <div class="row">
            <div class="col-md-2 ">
                <div class="container-fluid cont">
                    <div class="row logoRow">
                        <div class="col-md-13 logoCol flexbox">
                            {% if article.logo == "NULL" %}
                                <div style="font-size: 5em;">
                                    <i class="fa fa-building-o fa-3"></i>
                                </div>
                            {% else %} 

                                <img class="img-responsive " src="{{ asset('upload/'~article.logo) }}"> 
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 " >
                <a href="{{ path('superjobs_home_recruiter_job_details', { 'tag': article.id }) }}">
                    <h4>{{ article.title }}</h4>
                </a>
                {% if article.location == '' %}
                    {% set location = 'Anywhere' %}
                {% else %}
                    {% set location = article.location %}
                {% endif %}
                <i class="fa fa-map-marker"></i> {{ location }}<br/>
                <i class="fa fa-building"></i> {{ article.company }}<br/>
            </div>
            <div class="col-md-2">
                <br/>
                {% if date(article.createdAt) > date('-6days') %}
                    <div class="newItem">New</div>
                    <div class="newItem-r"></div>
                    <br/>
                {% endif %}
                <div class="date">
                    {{ article.createdAt|date('d')}} 
                    {{ article.createdAt|date('M')}}
                    <em>{{ article.createdAt|date('Y')}}</em>
                </div>
                <span class="label label-primary">{{ article.type }}</span>
            </div>
        </div>
    </div>
{% endfor %}